*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    display: flex;
    background: #000000;
    padding: 20px;
}

.container-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
}

.container-menu ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4em;
}

.container-menu ul li{
    padding: 20px;
}

.container-menu ul li a{
    text-decoration: none;
    color: rgb(235, 201, 53);
}

.container-menu ul li a:hover{
    color: rgb(177, 152, 40);
}

main{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 5px;
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
}

.box{
    display: flex;
    background: #000000;
    padding: 20px;
    width: 30%;        
    border-radius: 5px;
    text-align: justify;
    align-items: center;
    justify-content: center;
}

.box .banner{
    /*background-image: url('../assets/IMG_6506.PNG');
    background-size: cover;
    background-position: center;*/
    width: 100%;
    height: 50vh;
}

.box .banner img{
    width: 100%;
    height: 50vh;
    border-radius: 20px;
}

footer {
    background: #000000;
    padding: 15px;
}

footer .texto-direitos{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.0em;
    color: rgb(235, 201, 53);
    text-align: center;
}


/*contato*/

.form-contato{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    width: 100%;
    height: auto;  
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    color: #fff;
}

.form-contato input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    margin-bottom: 15px;
    padding-left: 5px;
}

.form-contato textarea{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    padding-left: 5px;
    height: 8rem;
}

.form-contato button{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    padding: 10px;
    width: 60%;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 201, 53);
    border: none;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    color: #000;
}

.form-contato button:hover{
    cursor: pointer;
    background-color: rgb(177, 152, 40);
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
    color: #fff;
}

.mural-contatos{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5px;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;  
    align-items: center;
    justify-content: space-around;
    background-color: rgb(235, 201, 53);
}

.mural-contatos h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4em;
    color: #000000;
}

.mural-contatos img{
    width: 30%;
}

.mural-contatos img:hover{
    cursor: pointer;
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);
    border-radius: 50%;
}

@media (max-width: 600px) {
    header{
        padding: 15px;
        margin-bottom: 5px;
    }

    .container-menu ul{
        font-size: 1.0em;
    }

    .container-menu ul li{
        padding: 15px;
    }

    .container {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .box {
        width: 60%;
    }

    .banner{
        /*background-image: url('./assets/carropeq.jpg');*/
        height: 50vh;
        width: 50%;
    }

    .box .banner img{
        width: 100%;
        height: 50vh;
    }

    footer{
        margin-top: 5px;
    }

    footer .texto-direitos{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 0.8em;
        color: rgb(177, 152, 40);
        text-align: center;
    }
}


@media (max-width: 1024px) and (min-width: 601px) {
    .container {
        flex-wrap: wrap;
    }

    .box {
        width: 45%;
    }
}